.navbar {
  margin-bottom: 0px;
  a {
    color: set-text-color($main-color) !important;
  }
  .fa {
    font-size: 18px;
  }
}
.showcase {
  min-height: 600px;
  background: url("../img/showcase.jpg") no-repeat -80px -100px;
  padding:30px 0;

  h1{
    font-size:60px;
  }

  .container{
    background:#fff;
    opacity: 0.8;
    padding: 20px 30px 30px 20px;
  }

}
.section-a {
  padding: 30px 0;
  text-align: center;
  background: $main-color;
  color: set_text-color($main-color);
  a {
    color: lighten($main-color, 25%);
  }
  div.col-md-4 {
    min-height: 200px;
  }
  .btn{
    color: set_text-color($main-color);
    background: darken($main-color, 15%);
  }
  a:hover.btn{
    background: darken($main-color, 25%);
  }

  .fa {
    font-size: $icon-size;
  }
  .fa-inline {
    font-size: 10px;
    padding-right: 5px;
  }
  p {
    text-align: left;
  }

}

.section-b {
   img {
     padding:10px;
     float: left;
   }
   background: #e6ebf1;
   margin: 0px;
   padding: 30px 0;
  .fa {
    font-size: $icon-size;
  }
 }

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}
footer {
  margin: 0;
  padding: 30px 0;
  background: darken($main-color, 20%);
  color: set_text-color($main-color);
}